<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
    <div class="navbar-profile">
        <img class="img-xs rounded-circle" src="~/userimage/@ViewBag.v" alt="">
        <p class="mb-0 d-none d-sm-block navbar-profile-name">@ViewBag.v1</p>
        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
    </div>
</a>