
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@await Component.InvokeAsync("FeatureStatictics")
@await Component.InvokeAsync("DashboardStats")
@await Component.InvokeAsync("ProjectList")
<div class="row">
@await Component.InvokeAsync("PortfolioSlide")
@await Component.InvokeAsync("ToDoList")
</div>