
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@using EntityLayer.Concrete
@model List<Announcement>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Duyuru Tablosu</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Konu</th>
                                <th>Tarih</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>
                                    <td>@item.Type</td>
                                    <td>@(((DateTime)@item.Date).ToString("dd-MMM-yyyy"))</td>
                                    <td>
                                        <a href="/Announcement/DeleteAnnouncement/@item.Id" class="btn btn-outline-danger">Sil</a>
                                    </td>
                                    <td>
                                        <a href="/Announcement/EditAnnouncement/@item.Id" class="btn btn-outline-success">Detaylar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <a href="/Announcement/AddAnnouncement" class="btn btn-primary">Yeni Duyuru Ekle</a>
            </div>
        </div>
    </div>
</div>

