<header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav" role="navigation">
        <div class="container">
            <a class="link-dark navbar-brand site-title mb-0" href="#">Core Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-2">
                    <li class="nav-item"><a class="nav-link" href="#about"><i class="bi bi-person-circle"></i> Hakkımda</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services"><i class="bi bi-book"></i> Hizmetlerim</a></li>
                    <li class="nav-item"><a class="nav-link" href="#skills"><i class="bi bi-github"></i> Yeteneklerim</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio"><i class="bi bi-folder"></i> Çalışmalarım</a></li>
                    <li class="nav-item"><a class="nav-link" href="#experience"><i class="bi bi-person-circle"></i> Deneyimlerim</a></li>
                    <li class="nav-item"><a class="nav-link" href="#testimonials"><i class="bi bi-trophy"></i> Referanslarım</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact"><i class="bi bi-chat-dots"></i> İletişim</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Writer/Login/Index"><i class="bi bi-box-arrow-in-right"></i> Yazar Girişi</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
