<ul class="nav">
    <li class="nav-item profile">
        <div class="profile-desc">
            <div class="profile-pic">
                <div class="count-indicator">
                    <img class="img-xs rounded-circle" src="~/userimage/@ViewBag.v">
                    <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                    <h5 class="mb-0 font-weight-normal">@ViewBag.v1</h5>
                    <span>Kurucu</span>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item nav-category">
        <span class="nav-link">Menü</span>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/adminpanel/index/">
            <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Ana Sayfa</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/skill/index/">
            <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Yetenekler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/experience/index/">
            <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Deneyimler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/portfolio/index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Projeler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/service/index/">
            <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Hizmetler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/header/index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Başlık</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/about/index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Hakkımda</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/announcement/index/">
            <span class="menu-icon">
                <i class="mdi mdi-book-plus"></i>
            </span>
            <span class="menu-title">Duyurular</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/contact/index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">İletişim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Mesajlar</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/message/sendermessage/">Giden Mesajlar</a></li>
                <li class="nav-item"> <a class="nav-link" href="/message/receivermessage/">Gelen Mesajlar</a></li>
                <li class="nav-item"> <a class="nav-link" href="/message/messageadd/">Mesaj Yaz</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/testimonials/index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Referanslar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/contactsubtitle/index/">
            <span class="menu-icon">
                <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">İletişim Alt Başlık</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/socialmedia/index/">
            <span class="menu-icon">
                <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">Sosyal Medya</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/writeruser/index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Kullanıcılar - Ajax</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/experience2/index/">
            <span class="menu-icon">
                <i class="mdi mdi-settings"></i>
            </span>
            <span class="menu-title">Deneyimler - Ajax</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/writer/dashboard/index/">
            <span class="menu-icon">
                <i class="mdi mdi-webhook"></i>
            </span>
            <span class="menu-title">Yazar Paneline Git</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/default/index/">
            <span class="menu-icon">
                <i class="mdi mdi-mail-ru"></i>
            </span>
            <span class="menu-title">Siteye Git</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
            <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
            </span>
            <span class="menu-title">Dökümanlar</span>
        </a>
    </li>
</ul>
