
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Areas/Writer/Views/Default/_PartialHeader.cshtml")
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("/Areas/Writer/Views/Default/_PartialSideBar.cshtml")
        <div class="container-fluid page-body-wrapper">    
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">Menü Renkleri</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Açık</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Koyu</div>
                    <p class="settings-heading mt-2">Üst Menü Renkleri</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("/Areas/Writer/Views/Default/_PartialNavBar.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @await Html.PartialAsync("/Areas/Writer/Views/Default/_PartialFooter.cshtml")
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Writer/Views/Default/_PartialScript.cshtml")
</body>
</html>

