@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="col col-md-6">
    <button type="button" class="btn btn-outline-success" id="getlist">Kullanıcıları Getir</button>
</div>
<br />

<div class="row" id="userdelete">
</div>

@section Scripts {
    <script>
        $("#getlist").click(function () {
            $.ajax({
                type: "get",
                url: "/WriterUser/ListUser/",
                contentType: "application/json",
                dataType: "JSON",
                success: function (r) 
                {
                    let users = JSON.parse(r)
                    let htmlst = '<div class="col-lg-12 grid-margin stretch-card"><div class="card"><div class="card-body"><div class="table-responsive">';
                    htmlst += "<table class=table><thead><tr><th>#</th><th> İsim Soyisim</th><th> Kullanıcı Adı </th><th> Email </th><th> Sil </th></tr></thead><tbody>";
                    $.each(users, (index, value) => {
                        htmlst += '<tr>';
                        htmlst += '<td>' + value.Id + '</td>';
                        htmlst += '<td>' + value.Name + '</td>';
                        htmlst += '<td>' + value.UserName + '</td>';
                        htmlst += '<td>' + value.Email + '</td>';
                        htmlst += '<td><button type="button" class="btn btn-outline-primary delete-user" data-id="' + value.Id + '">Sil</button></td>';
                        htmlst += '</tr>';
                    });
                    htmlst += '</tbody>';
                    htmlst += '</table>';
                    htmlst += '</div></div></div></div>';
                    $(".row").html(htmlst);
                }
            });
        });
        $("#userdelete").on("click", ".delete-user", function () {
            let id = $(this).data("id");
            if (confirm("Bu kullanıcıyı silmek istediğinizden emin misiniz?")) {
                $.ajax({
                    type: "post",
                    url: "/WriterUser/DeleteUser/" + id,
                    contentType: "application/json",
                    dataType: "JSON",
                    success: function (funk) {
                        $("#getlist").trigger("click");
                        alert("Kullanıcı başarıyla silindi");
                    }
                });
            }
        });
    </script>
}

<script src="~/lib/jquery/dist/jquery.js"></script>