<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index/">
                <i class="ti-home menu-icon"></i>
                <span class="menu-title">Ana Sayfa</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReceiverMessage/">
                <i class="ti-import menu-icon"></i>
                <span class="menu-title">Gelen Kutusu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage/">
                <i class="ti-export menu-icon"></i>
                <span class="menu-title">Giden Kutusu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/MessageAdd/">
                <i class="ti-comment-alt menu-icon"></i>
                <span class="menu-title">Mesaj Yaz</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Profil Ayarları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Password/Index/">
                <i class="ti-key menu-icon"></i>
                <span class="menu-title">Şifre Ayarları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adminpanel/Index/">
                <i class="ti-lock menu-icon"></i>
                <span class="menu-title">Admin Paneli</span>
            </a>
        </li>
    </ul>
</nav>