@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
@await Component.InvokeAsync("Header")
<body id="top">
    @await Component.InvokeAsync("Menu")
    <div class="page-content">
        <div id="content">
            @await Component.InvokeAsync("Feature")
            @await Component.InvokeAsync("About")
            @await Component.InvokeAsync("Services")
            @await Component.InvokeAsync("Skills")
            @await Component.InvokeAsync("Portfolio")
            @await Component.InvokeAsync("Experience")
            @await Component.InvokeAsync("Testimonials")
            @await Component.InvokeAsync("Contact")
            <footer class="pt-4 pb-4 text-center bg-light">
                <div class="container">
                    <div class="my-3">
                        <div class="h4">Kadir Bayar</div>
                        <p>Jr .Net Core Developer</p>
                        @await Component.InvokeAsync("SocialMediaSubList")
                    </div>
                    <div class="text-small text-secondary">
                        <div class="mb-1">&copy; @DateTime.Now.Year. Tüm hakları saklıdır.</div>
                        <div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="~/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="~/scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="~/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="~/scripts/aos.min.js?ver=1.2.0"></script>
    <script src="~/scripts/main.js?ver=1.2.0"></script>
</body>
</html>
