
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@using EntityLayer.Concrete
@model List<Testimonial>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Referanslar Paneli</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad</th>
                                <th>Şirket</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TestimonialId</td>
                                    <td>@item.ClientName</td>
                                    <td>@item.Company</td>
                                    <td>
                                        <a href="/Testimonials/TestimonialDelete/@item.TestimonialId" class="btn btn-outline-danger">Sil</a>
                                    </td>
                                    <td>
                                        <a href="/Testimonials/TestimonialEdit/@item.TestimonialId" class="btn btn-outline-warning">Güncelle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/Testimonials/TestimonialAdd" class="btn btn-primary">Yeni Referans Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>

